{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Dashboard</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Maps</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Stations</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-transparent">
        <div class="card-header">
          <h4 class="card-title text-center">Fire Stations</h4>
          <p class="card-category text-center">Looks great on any resolution. Made by our friends from <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>.</p>
        </div>
        <div class="card-body">
          <div class="col-md-10 ml-auto mr-auto">
            <div id="map" style="width: 100%; height: 400px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  var map = L.map('map').setView([9.81644, 118.72239], 13);
  var truckIcon = L.icon({
  iconUrl: '../static/img/firetruck.png', 
  iconSize: [50, 50], // Adjust the size as needed
  });

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);


  // Create an array to hold all the markers
  var markers = [];

  // Define the marker data
  var markerData = {{ fireStations|safe }};

  // Loop through the marker data and create markers
  markerData.forEach(function (data) {
      var latitude = parseFloat(data.latitude);
      var longitude = parseFloat(data.longitude);

      var marker = L.marker([latitude, longitude], { icon: truckIcon }).addTo(map);

      // Create a popup and set its content
      var popupContent = data.name;
      var popup = L.popup().setContent(popupContent);

      marker.bindPopup(popupContent);


      // Bind mouseover and mouseout events to the marker
      marker.on('mouseover', function (e) {
          this.openPopup();
      });

      marker.on('mouseout', function (e) {
          this.closePopup();
      });

      // Add the marker to the markers array
      markers.push(marker);
  });
</script>
{% endblock %}