{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Dashboard</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Maps</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Incidents</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-transparent">
        <div class="card-header">
          <h4 class="card-title text-center">Fire Incidents</h4>
          <p class="card-category text-center">Displays fire incidents with their locations. Made by our friends from <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>.</p>
          <div class="form-group">
            <label for="citySelect">Select City:</label>
            <select id="citySelect" class="form-control custom-dropdown">
              <option value="all">All</option>
              {% for city in cities %}
              <option value="{{ city }}">{{ city }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="card-body">
          <div class="col-md-10 ml-auto mr-auto">
            <div id="map" style="width: 100%; height: 600px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  var map = L.map('map').setView([9.81644, 118.72239], 13);
  var fireIcon = L.icon({
    iconUrl: "{% static 'img/fire-truck-3.png' %}", // Update this path to your fire icon
    iconSize: [50, 50], // Adjust the size as needed
  });

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var markers = [];

  var markerData = {{ incidentData|safe }};

  function updateMarkers(city) {
    markers.forEach(function(marker) {
      map.removeLayer(marker);
    });
    markers = [];

    markerData.forEach(function (data) {
      if (city === 'all' || data.city === city) {
        var latitude = parseFloat(data.latitude);
        var longitude = parseFloat(data.longitude);

        var marker = L.marker([latitude, longitude], { icon: fireIcon }).addTo(map);

        var popupContent = '<strong>' + data.description + '</strong><br>' +
                           'Severity: ' + data.severity_level + '<br>' +
                           'Date/Time: ' + data.date_time + '<br>' +
                           data.address + '<br>' +
                           data.city;
        var popup = L.popup().setContent(popupContent);

        marker.bindPopup(popupContent);

        marker.on('mouseover', function (e) {
          this.openPopup();
        });

        marker.on('mouseout', function (e) {
          this.closePopup();
        });

        markers.push(marker);
      }
    });
  }

  updateMarkers('all');

  document.getElementById('citySelect').addEventListener('change', function() {
    var selectedCity = this.value;
    updateMarkers(selectedCity);
  });
</script>
<style>
  .custom-dropdown {
    width: 150px; 
    padding: 5px; 
  }
</style>
{% endblock %}